@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff');
  src: url('../fonts/OpenSans-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff');
  src: url('../fonts/OpenSans-Bold.woff2');
  font-weight: bold;
  font-style: normal;
}


body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
*,*::before,*::after {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
/*header*/
.header {
    position: relative;
    z-index: 2;
    background: url("../img/football_767.jpg") no-repeat center / cover;
}
.header::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #0a0e34;
    opacity: .9;
}
.logo {
    display: block;
    width: 190px;
    margin: auto;
    padding-top: 33px;
    padding-bottom: 135px;
    fill: #fff;
}
.header__title {
    margin-left: 20px;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.54px;
}
.header__title span {
    display: block;
    margin-top: 30px;
    margin-left: 65px;
    margin-bottom: 90px;
}
.dowload__app {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 80px;
}
.button {
    width: 280px;
    height: 35px;
    border-radius: 17px;
    background-color: #5e42b0;
    margin-bottom: 14px;
}
.button__icon {
    display: inline-block;
    width: 20px;
    height: 24px;
    fill: #fff;
    margin-top: 5px;
    margin-left: 82px;
}
.button__desc {
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}
.button__desc span {
    font-weight: 700;
}

/*section athlets*/
.athlets {
    display: flex;
    flex-flow: column wrap;
}
.section__title {
    padding-top: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: #c1c1c1;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.15px;
}
.section__img--athlets {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 192px;
    height: 281px;
    object-fit: cover;
    object-position: top;
}
.card {
    padding-top: 60px;
}
.card:nth-child(2) {
    background-color: #f5f4f9;
}
.card:nth-child(3) {
    background-color: #5e42b0;
}
.card__number {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    letter-spacing: 0.7px;
}
.card__number--purple {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    letter-spacing: 0.7px;
}
.card__number::after {
    content:'';
    display: block;
    width: 15px;
    height: 4px;
    border-radius: 2px;
    background-color: #5e42b0;
}
.card__number--purple::after {
    content:'';
    display: block;
    width: 15px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
}
.card__title {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #c1c1c1;
}
.card__desc {
    margin: 0;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #000;
    padding: 27px 26px 50px 20px;  
}

/* section players */

.section__img--players {
    display: block;
    width: 302px;
    height: 248px;
    margin: auto;
    margin-bottom: 30px;
    object-fit: cover;
    object-position: top;
}
.card--blue {
    background-color: #090c35;
    padding-top: 60px;
    padding-bottom: 20px;
}
.card__desc--blue {
    color: #fff;
}
.card__number--blue {
    color: #8765dd;
}
.card__number--blue::after {
    content:'';
    display: block;
    width: 15px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
}

/* section active */
.active__box {
    position: relative;
}
.active__img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.box {
    position: absolute;
    z-index: 1;
    bottom: -10px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #5e42b0;
}
.number__active {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}
.number__active::after {
    content: "";
    display: block;
    width: 16px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    opacity: .3;
}
.section__title--active {
    padding-top: 33px;
    padding-bottom: 23px;
    margin-bottom: 0;
    font-size: 28px;
}
.card__desc--active {
    padding-top: 0;
    padding-bottom: 77px;
}

/* footer */
.footer {
    position: relative;
    z-index: 1;
    background: url("../img/game_767.jpg") no-repeat center / cover;
}
.footer::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0a0e34;
    opacity: .9;
}
.footer__icon {
  position: absolute;
  top: 100px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 60px;
  width: 72px;
  height: 74px;
  border-radius: 18px;
  background-color: #5e42b0;
  transform: translateX(-50%);
}
.surface__icon {
    position: relative;
    z-index: 3;
    width: 90%;
    color: #fff;
}
.footer__title {
  padding-top: 232px;
  text-align: center;
  color: #fff;
  font-size: calc(10vw - 2px);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.footer__title span {
  display: block;
  margin-bottom: 75px;
  color: #9b8ec1;
  font-size: calc(4.9vw - 1.7px);
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.footer__logo {
  display: block;
  width: 133px;
  fill: #fff;
  padding: 0;
}


